.Icon-hamburger
	height 25px
	i
		background-color white
		display block
		height 5px
		position relative
		position relative
		top 10px
		width 30px
		&:after
		&:before
			background-color white
			content ''
			display block
			height 5px
			position absolute
			top 0
			width 30px
		&:after
			transform translate3d(0, 200%, 0)
		&:before
			transform translate3d(0, -200%, 0)
	&.close
		&:hover
			i
				background-color transparent
				&:after
					transform translate3d(0, 0, 0) rotate(45deg)
				&:before
					transform translate3d(0, 0, 0) rotate(-45deg)
	&.substract
		&:hover
			i
				&:after
				&:before
					background-color transparent
					transform translate3d(0, 0, 0)
	&.back
		&:hover
			i
				background-color transparent
				&:after
					transform translate3d(3px, 5px, 0) rotate(45deg)
					width 20px
				&:before
					transform translate3d(3px, -6px, 0) rotate(-45deg)
					width 20px
