.Icon-dots
	i
		background-color white
		border-radius 50%
		display block
		height 5px
		left 0
		position relative
		width 5px
		&:after
		&:before
			background-color white
			border-radius 50%
			content ''
			display block
			height 5px
			position absolute
			top 0
			width 5px
		&:after
			transform translate3d(200%, 0, 0)
		&:before
			transform translate3d(-200%, 0, 0)
	&.close
		&:hover
			i
				background-color transparent
				left -12px
				&:after
				&:before
					border-radius 0
					width 30px
				&:after
					transform translate3d(0, 0, 0) rotate(45deg)
				&:before
					transform translate3d(0, 0, 0) rotate(-45deg)
