@import 'modules/common.styl'

body
    background-color #3498db
    color white
    margin 0
    padding 20px
    font-family 'Source Sans Pro', sans-serif
    text-align center
h1
h2
h3
h4
h5
    font-family 'Open Sans', sans-serif

@import 'modules/IconList.styl'
@import 'modules/Icon.styl'
